<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerror
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= flash[:notice] %>
</div>

<div class="row">

<%= render 'list', book: @book,user: @user %>

 <div class="col-md-8 offset-md-1">

<h1>Books</h1>

<table class="table table-striped">
 <thead>
  <tr>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
 </thead>

<% @books.each do |book| %>

 <tbody>
  <tr>
   <td><%= link_to user_path(book) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %></td>
   <td><%= link_to book_path(book) do %>
    <%= book.title %>
    <% end %></td>
   <td><%= book.body %></td>
  </tr>
 </tbody>
<% end %>
</table>

 </div>
</div>
