<div>
  <%= flash[:notice] %>
</div>

<div class="row">

<%= render 'list', book: @newbook,user: @user %>

 <div class="col-md-8 offset-md-1">

<table class="table table-striped">
 <thead>
  <tr>
   <th>Book detail</th>
  </tr>
 </thead>

 <tbody>
  <tr>
   <td><%= link_to user_path(@book.user.id) do %>
    <%= image_tag @book.get_image %>
    <% end %></td>
   <td><%= link_to user_path(@book.user.id) do %>
    <%= @book.user.name %>
    <% end %></td>
   <td><%= link_to book_path(@book.id) do %>
    <%= @book.title %>
    <% end %></td>
   <td><%= @book.body %></td>
   <td><% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path %>
    <% end %></td>
   <td><% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
    <% end %></td>
  </tr>
 </tbody>
</table>

 </div>
</div>